.toggleButton {
 background: white;
 border: 2px solid hsl(0deg, 0%, 5%);
 border-radius: 1px;
 cursor: pointer;
 flex-shrink: 0;
 font-size: 1.25rem;
 font-weight: 700;
 height: 3.125rem;
 outline-offset: 2px;
 width: 3.125rem;

 &:not(:first-child) {
  margin-left: 0.25rem;
 }
}

.toggleButton[aria-pressed='true'] {
 background: hsl(0deg, 0%, 5%);
 border-width: 6px;
 color: white;
}
